footer {
    background: rgba(23, 28, 56, 0.94);
    color: rgba(245, 245, 245, 0.94);
}

footer span {
    font-weight: bold;
}

.sm_icons {
    text-align: center;
    background-image: url("../images/icons/SocialMedia.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
}

.copyright {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    float: left;
}

.by {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    float: right;
    padding: 6px;
}