footer {
    background: rgba(23, 28, 56, 0.94);
    color: rgba(245, 245, 245, 0.94);
}

footer span {
    font-weight: bold;
}

.sm_icons {
    text-align: center;
    position: relative;
}

.facebook, .googlePlus, .twitter {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../images/icons/socialMedia.png");
    background-repeat: no-repeat;
    height: 50px;

}

.facebook {
      background-position: left;
}

.googlePlus {
    background-position: center;
}
.twitter  {
    background-position: right;
}

.copyright {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    float: left;
}

.by {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    float: right;
    padding: 6px;
}

#ciasteczka {
    background-color: #ffdb69;
    width: 1200px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 150%;
    font-family: Helvetica, sans-serif;
    letter-spacing: -1px;
    padding: 20px 0;
    cursor: pointer;
}

.easterEgg {
    background-image: url("../images/icons/game.png");
    width: 47px;
    height: 47px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 8px;
    background-size: cover;
}