footer {
    background: rgba(23, 28, 56, 0.94);
}

footer p {
    color: rgba(245, 245, 245, 0.94);
}

#sm_icons {
    text-align: center;
}

#sm_icons img {
    margin: 10px 10px 0 10px;
}

#copyright {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    text-align: left;
}

#by {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    float: right;
}