body {
    background-color: black;
}
table {
    margin: 0 auto;
    text-align: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-size:30px 30px;
    background-image: url("../scripts/grass.jpg");

}
.ludek {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: black;
}
.ludek1 {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: red;

}

.food {
    width: 30px;
    height: 30px;
    background-color: green;
    background-size:30px 30px;
    background-image: url("../scripts/food.png");

}
.monument {
    width:30px;
    height:30px;
    background-color: green;
    background-size:30px 30px;
    background-image: url("../scripts/monument.png");
}
.route {
    width:10px;
    height:10px;
    background-color:brown;
    background-size:30px 30px;
    background-image: url("../scripts/route.png");
}

.player {
    width: 30px;
    height: 30px;
    background-image: url('../scripts/528347170f515_obrazek.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

p {
}

.building {
    width:30px;
    height:30px;
    background-color:mediumvioletred;
}

.hooligan {
    width:30px;
    height: 30px;
    background-image: url('../scripts/hooligan.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.iloscZabytkow {
    text-align:center;
    position: relative;
    bottom: 500px;
    font-size: 30px;
    left: 150px;
    margin-bottom: 50px;
    color: white;
}
.iloscRuchow {
    text-align:center;
    position: relative;
    bottom: 500px;
    font-size: 30px;
    left: 100px;
    color: white;
}

