.clear {
    clear: both;
    }

nav {
    position: fixed;
    width: 1200px;
    z-index: 9;
    top: 0;
    box-shadow: 0 3px 2px -1px black;


}

.przycisk, .logo{
    position: relative;
    float: left;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    width: 25%;
    text-decoration: none;
    background-color: rgba(23, 28, 56, 0.94);
    padding: 25px 0;
    transition: background 0.3s, padding 0.3s ease;
    height: 20px;

}

.przycisk:hover, .przyciskDol:hover {
    background: rgba(139, 0, 0, 0.9);
    }

.przyciskDol, .logoDol{
    position: relative;
    float: left;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    width: 25%;
    text-decoration: none;
    background-color: rgba(23, 28, 56, 0.94);
    padding: 10px 0;
    transition: background 0.3s, padding 0.3s ease;
    height: 20px;

}



.logo {
    padding: 0;
    height: 70px;
    background-image: url("../images/logo.png")  ;
    background-repeat: no-repeat;
    background-size: auto 65px;
    background-position: center bottom;
    transition: background-color 0.3s ease, height 0.3s ease, background-size 0.3s ease;
}

.logoDol {
    padding: 0;
    height: 40px;
    background-image: url("../images/logo.png")  ;
    background-repeat: no-repeat;
    background-size: auto 35px;
    background-position: center bottom;
    transition: background-color 0.3s ease, height 0.3s ease, background-size 0.3s ease;
}

.logo:hover, .logoDol:hover {
    background-color: rgba(139, 0, 0, 0.9);
    }

.powitanie {
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity 1s linear;
    }

.powitanieWidoczny {
    opacity: 1;
    }

.powitanie span {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.powitanie h2 {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 45px;
}

.powitanie h3 {
    position: absolute;
    top: 100px;
    right: 0;
    font-size: 30px;
}