#menu1 {
    float: left;
    width: 100%;
    padding: 0;
    margin-top: -5px;
    list-style: none;
}

.przyciski {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 25%;
    text-decoration: none;
    color: floralwhite;
    padding: 20px 0;
       /*border: 5px solid transparent;*/
}

.przyciski:hover {
    /*border: 5px solid black;*/

}
#przycisk1 {
    background-color: navy;
}
#przycisk2 {
    background-color: red;
}
#przycisk3 {
    background-color: darkorange;
}
#przycisk4 {
    background-color: indigo;
}
#przycisk1:hover {
    background-color: Background;
}
#przycisk2:hover {
    background-color: Background;
}
#przycisk3:hover {
    background-color: Background;
}
#przycisk4:hover {
    background-color: Background;
}

