.funkcjonalnosc span {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

#mapa {
    font-size: 30px;
    position: relative;
    top: -290px;
    left: 324px;
}

#bilety {
    font-size: 30px;
    position: relative;
    top: -290px;
    left: 455px;
}

body {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(to top, #f9f6ff, #a7b8aa);
    background-size: cover;
 }

.funkcjonalnosc {
    margin-bottom: 40px;
    margin-left: 40px;
    width: 540px;
    height: 320px;
    float:left;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px 5px darkgray;
    transition: transform 0.1s linear;
    min-width: 500px;
}



.funkcjonalnosc p {
    position: relative;
    right: 40px;
    bottom: 150px;
    text-align: right;
    font-size: 200%;
    font-style: italic;
}

.funkcjonalnosc:hover {
transform: scale(1.03);
}

.pozostaleFunkcjonalnosci {
    width: 14.75%;
    height: 170px;
    float:left;
    margin: 0 23px 0 0;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px 5px darkgray;
    transition: transform 0.1s linear;
    position:relative;
    left:12px;
}

.pozostaleFunkcjonalnosci:hover {
transform: scale(1.1);

}

.formularz {
    background: rgba(255, 255, 255, 0.4);
    width: 450px;
    height: 500px;
    box-shadow: 0 0 15px 5px darkgray;
    float: right;
    display: inline-block;
    margin: 24px 14px 0 14px;
    position:relative;

}

.formularz form {
    text-shadow: 10px 10px 10px black;
    font-size: 15px;
    font-weight: bold;
    transform: scale(1);
    position:absolute;
    top:200px;
    left:20px;
}
.formularz input {
    font-size:20px;
}

.oNas {
    background: rgba(255, 255, 255, 0.4);
    text-align: right;
    font-size: 200%;
    font-style: italic;
    float:left;
    width: 680px;
    height: 500px;
    margin: 24px 14px 0 14px;
    border: solid 1px darkgrey;
    box-shadow: 0 0 15px 5px darkgray;
    display: inline-block;
}

.oNas img {
    width: 600px;
    height: 300px;
    position: relative;
    left: -40px;
    top: 50px;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px darkgrey;
    box-shadow: 0 0 40px 20px #838383;
    }

.oNas p {
    position: relative;
    top: 100px;
    text-align: center;
}
